#heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8vh;
}

#heroRow1 {
  width: 48%;
}

#heroRow2 {
  width: 48%;
}

#heroRow2 img {
  width: 100%;
}
